.DS_Store
node_modules/
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
esptool.exe
env.js
.firebaserc
firebase.json
database.rules.json
